body {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
.weatherCard{
    background-image: url("last.jfif");
    background-size: contain;
    width: 480px;
    height: 250px;
    padding: 20px;
    border-radius: 15px;
}

.allElement {
    display: flex;
    justify-content: center;
    align-items: center;
}

#article {
    font-weight: bolder;
    color: rgb(74, 107, 252);
}