body {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
.weatherCard{
    background-image: url("sky.jpg");
}
.allElement {
    display: flex;
    justify-content: center;
    align-items: center;
}